@model WebStore.Modeis.EmployeeView
@{
    ViewData["Title"] = "Список сотрудников";
}
<table class="table table-bordered">
    <tr>
        <td>@Model.FirstName</td>
        <td>@Model.Surname</td>
        <td>@Model.Age</td>
        <td>@Model.Position</td>
        <td>@Model.Salary</td>
    </tr>
</table>
<a asp-controller="Employees" asp-action="Index">Назад</a>